:root{
    --sidebarBackground:#BAE6FD;
    --text1:#075985;
    --text2:#0284C7;

}
body{
    margin:0px;
}

i{
    font-size:30px;
    margin-left:15px;
    margin-right:10px;
    color:var(--text1);
}

#sidebar{
    display:grid;
    grid-template-columns: 1fr;
    background-color:var(--sidebarBackground);
    max-width:16.6vw;
    min-width:160px;
    height:100vh;
    position:fixed;

}

#sidebar>div{
    display:grid;
    grid-template-columns:1fr 3fr;

    height:fit-content;
    padding:2px 0px 2px 0px;
    row-gap:10px;
}
#imp{grid-row-end:2;
margin-top:10px;}
#user{grid-row-end:5;}

#actions{
    grid-row-end:8;
}

#settings{
    grid-row-end: 20;
}

.icontext{
    position:relative;
    top:10px;
    color:var(--text1);
}

p{margin-left:16.6vw}
