@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Patrick+Hand&family=Special+Elite&display=swap');

/* setting color theme  */
:root{
    --fontcolor:black;
    --backgroundcolor:white;
    user-select: none;
}


#img{
    width:50vw;
    height:auto;
}

#main{
    display:flex;
    flex-direction:row;
}

#column-align{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

#content{
    display:flex;
    flex-direction:column;
    width:50vw;
    justify-content:flex-start center flex-end;
}

.main-text{
    font-size:50px;
    padding:10px 0px 20px 0px;
}

.secondary-text{
    display:flex;
    justify-content:center;
    padding:10px 0px 20px 0px;
    font-size:50px;
}

.tertiary-text{
    padding:10px 0px 20px 0px;
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-end;
    text-align:right;
    font-size:50px;
    width:350px;
    margin-left:auto;
    margin-right:20px;
}

.text{
    padding:50px 0px 10px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:30px;
    margin:20px 0px 0px 0px;
}

.card{
    text-align: center;
    padding:10px 5px 10px 5px;
    border-radius: 10px;
    display:flex;
    margin:20px auto 50px auto;
    justify-content: center;
    width:fit-content;
    border-radius: 16px;
    box-shadow:  -5px -5px 20px #bebebe,
                 5px 5px 20px #ffffff;
}

.column{
    display:flex;
    flex-direction:column;  
}

.component{
    position:relative;
}


.field{
    box-shadow: 1px 3px 5px .1px rgba(0, 0, 0, 0.704);
    border:3px solid black;
    border-radius: 7px;
    padding:2px 10px 2px 10px;
    font-size:25px;
    max-width:200px;
    margin:10px 20px 10px 20px;
    background-color:white;
}

.invalid{
    border:2px solid black;
}

.responsive{
    position:absolute;
    top:15px;
    left:30px;
    font-size: 25px;
    transition: all 1s;
    opacity:.5;
}

.invalid{
    border:3px solid red;
}

.component:hover .responsive{
    background-color:white;
    transform: translateY(-70%) scale(0.8) translateX(-10%);
    opacity:1;
}

.defaultlabel{
    top: 15px;
    left:25px;
    font-size:20px;
    position:absolute;
    background-color:white;
    transform: translateY(-70%) scale(0.8) translateX(-10%);
    opacity:1;
}

.button{
    border-radius: 10px;
    border:2px solid black;
    box-shadow: 3px 5px black;
    display:flex;
    margin:10px auto 10px auto;
    align-items: center;
    width:fit-content;
    padding:10px 10px 10px 10px;
    font-size:25px;
}

.button:hover{
    transform:translateY(1px);
}
.button:active{
    transform:translateY(5px);
    box-shadow: 1px 3px black;
}
