
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Patrick+Hand&display=swap');

/* Universal white theme preference */
:root{
    --red:red;
    --fontcolor:black;
    --backgroundcolor:white;
}

/* General properties  */

#main-align{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

a{
    cursor:pointer;
    text-decoration:none;
    color:var(--red);
}
body{
    display:flex;
    justify-content:center;
    font-family: 'Macondo', cursive;
    font-family: 'Patrick Hand', cursive;
    background-color: var(--backgroundcolor);
    color:var(--fontcolor);
    user-select: none;
}
.buttons{
    text-align: center;
    font-size:25px;
    background-color:var(--backgroundcolor);
    border:2px solid black;
    border-radius:9px;
    width:fit-content;
    padding:2px 20px 2px 20px;
    min-width:50px;
}
#column1{

    display:flex;
    flex-direction:column;
}
#column2{
    display:flex;
    flex-direction:column;
}
#tertiary-align{
    display:flex;
    flex-direction:column;
}
#displaycomponent{
    border-radius: 8px;
    border: 4px solid black;
}

#tertiary-align{
    align-items:center;
}


@media only screen and (min-width: 688px){
    #main-text{
        font-size:100px;
    }
    #secondary-align{
        display:flex;
        flex-direction:row;
        justify-content: space-around;
        align-items: space-around;
    }
    #slider{
        margin:10px 40px 0px -90px;
        width:256px;
    }
    #secondary-align > *{
        margin:10px 20px 10px 20px;
    }

    #displaycomponent{
        margin:0px 40px 0px -90px;
        display:grid;
        grid-template-columns: repeat(20,1fr);
        grid-template-rows:repeat(20,1fr);
        width:400px;
        height:400px;
        background-color:#E5E5E5;
    
    }
    #button-align > * {
        margin:10px;
    }
    #column1 > * , #column2 > *{
        margin:10px;
    }
    #button-align{
        display:flex;
        justify-content:center;
        flex-direction:column-reverse;
        margin:30px 0px 30px 0px;
    }
    .buttons:active{
        background-color:var(--fontcolor);
        color:var(--backgroundcolor);
    }
    
}



@media  (max-width: 688px){
    
    #main-text{
        font-size:70px;
    }
    #displaycomponent{
        display:grid;
        grid-template-columns: repeat(20,1fr);
        grid-template-rows:repeat(20,1fr);
        width:350px;
        height:350px;
        background-color:#E5E5E5;
    }
    .buttons:active{
        background-color:var(--fontcolor);
        color:var(--backgroundcolor);
    }
    #slider{
        width: 256px;
        margin:10px;

    }
    
    #button-align{
        margin:30px 0px 0px 0px;
        display:flex;
        flex-direction:row;
        justify-content: center;
    }
    .buttons{
        margin:10px;
    }
}
