
@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Patrick+Hand&display=swap');

/* setting color theme  */
:root{
    --red:red;
    --fontcolor:black;
    --backgroundcolor:white;
}

@media (prefers-color-scheme: dark) {
:root{
    --fontcolor:aliceblue;
    --backgroundcolor:black;
}
  }
/* General properties  */
a{
    cursor:pointer;
    text-decoration:none;
    color:var(--red);
}
body{
    display:flex;
    justify-content:center;
    margin:20px 30px 0px 30px;
    font-family: 'Macondo', cursive;
    font-family: 'Patrick Hand', cursive;
    background-color: var(--backgroundcolor);
    color:var(--fontcolor);
}
#main-text{
    font-size:100px;
    
}
#secondary-text{
    font-size:35px;
    margin-top:-100px;    
}

#small-text{
    margin-top:-20px;
    font-size:20px;
}


#bigredbutton{
    color:red;
    padding:10px 15px 10px 15px;
    border-radius:6px;
    background-color:var(--backgroundcolor);
    border: 2px solid var(--fontcolor);
    box-shadow: 5px 5px var(--fontcolor);
    transition-duration: .7s, .2s;
    transition-property: transform;
    width:auto;
    margin:30px 0px 40vh 0px;


    height:fit-content;
    animation: repeat 5s infinite;
}

@keyframes repeat{
    0%{
        transform:scale(1.0)
    }
    50%{
        transform:scale(1.2)

    }
    100%{
        transform:scale(1.0)
    }
}



@media only screen and (min-width: 688px){
    .main-align{
        border: 3px solid var(--fontcolor);
        border-radius:30px;
        display:flex;
        flex-direction:column;
        text-align:center;
        justify-content: center;
        margin:50px 100px 50px 100px;
        width:1000px;
    
    }
    #bigredbutton{
        padding:15px 22px 15px 22px;
        font-size:18px;
    }
    #bigredbutton:hover{
        animation-play-state:paused;
    }
    
    #bigredbutton:active{
        box-shadow:1px 3px black;
    }
    #main-text{
        margin-top:-10px;
    }
    
   }
#red{
    display:inline;
    color:red;
}



@media  (max-width: 688px){

    #main-text{
        font-size:65px;
        margin-left:100px;
        padding-right:300px;
        margin-top:-20px;

    }
    #secondary-text{
        font-size:30px;
        margin-top:-20px;    
    }

    #small-text{
        margin-top:-20px;
        font-size:20px;
    }
    .mobile-align{
        display:flex;
        flex-direction:column;
        text-align:center;
        justify-content: center;
    }
    #bigredbutton{
        padding:10px 15px 10px 15px;
        margin-top:40px;
        background-color:var(--backgroundcolor);
        border: 2px solid var(--fontcolor);
        transition-property:box-shadow;
        transition-duration:.3s;
        box-shadow: 4px 4px var(--fontcolor);
        
    }
    #bigredbutton:hover{
        animation-play-state:paused;
    }
    #bigredbutton:active{

        box-shadow:1px 3px black;
    }
    
   }
